<div id="<%= dom_id relationship %>">
  <p>
    <strong>Student:</strong>
    <%= relationship.student.name %>
  </p>

  <p>
    <strong>Guardian:</strong>
    <%= relationship.guardian.name %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= relationship.relation %>
  </p>  

</div>
